html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    background-color: #210E09;
    color: #fff;
    font-family: "Roboto", sans-serif;
    
}
.navbar{
    transition: 0.8s;
    max-width: 1276px;
    width: 100%;
    position: relative;
}
.logo{
    animation: rotate 4s linear infinite ;
}
@keyframes rotate {
    to{
        transform: rotateY(350deg);
    }
}
.container {
    max-width: 1305px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.nav_active {
    position: fixed;
    z-index: 1;
    max-width: 1276px;
    width: 97.6%;
    padding: 3px 0;
    transition: 0.8s;
    background: linear-gradient(90.09deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
    animation: back 2s linear infinite ; /* alternate*/
    border-radius: 2%;
}
@keyframes back {
    to{
        filter: hue-rotate(360deg);
    }
}
.nav-box {
    max-width: 1276px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.8s;
    padding: 18px 0 ;
    width: 100%;
    transition: 0.5s;
    
}
.nav__list {
    display: flex;
    gap: 30px;
}
.nav__link {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    transition: 0.5s;
}
.nav__link span{
    padding: 25px 6px 20px;
    display: block;
}
.nav__link::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: #D5621D;
    border-radius: 10px 10px 0 0;
    display: block;
    transform: scale(0);
    transition: 0.5s;
}
.nav__link:hover::after{
    transform: scale(1);
}
.nav__bronds {
    padding: 15px 30px;
    border: 2px solid #D5621D;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #fff;
    transition: 0.5s;
}
.nav__bronds:hover{
    background-color: #D5621D;
    transition: 0.5s;
    cursor: pointer;
}
.progress__bar.active{
    display: block;
    background-color: #cfcfcf;
    opacity: 100%;
}
.progress__bar {
    display: none;
    margin-top: 20px;
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #cfcfcf;
    z-index: 2;
}
.gotopbtn{
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: #d64667;
    bottom: 80px;
    text-align: center;
    right: 100px;
    line-height: 50px;
    color: #fff;
    font-size: 22px;
    z-index: 999;
}
.progress__line {
    width: 0%;
    height: 100%;
    background-color: #d64667;
    animation: fine 2s linear infinite ; /* alternate*/
    border-radius: 2%;
    
}

@keyframes fine {
    to{
        filter: hue-rotate(360deg);
    }
}

.nav__list.active{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 50px;
    transition: 1.5s;
    background: local;
    height: 420px;
    overflow: hidden;
    z-index: 9999;
}
.nav__bar-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    transition: 0.5s;
}
.burger{
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
}
.burger span{
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: #D5621D;
}

.burger::before, .burger::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #fff;
    transition: 0.3s ease 0s;
}
.open{
    display: flex !important;
}
.burger.fast span {transform: scale(0);}
.burger::before{top: 0;}
.burger.fast::before{
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}
.burger.fast::after{
    top: 50%;
    transform: rotate(45deg) translate(0, 50%);
}
.burger::after{bottom: 0;}

@keyframes showModel{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes showModelContent{
    from{
        margin-bottom: -100px;
    }
    to{
        margin-bottom: 0;
    }
}







.header__box {
    background-image: url(../image/header.png);
    max-width: 853px;
    width: 100%;
    height: 540px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.header__box-title {
    position: absolute;
    bottom:170px;
    left: 60px;
    padding: 10px 20px 7px;
    background-color: #fff;
    color: #210E09;
    border-radius: 5px;
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
}
.header__box-text {
    position: absolute;
    bottom: 45px;
    left: 60px;
    max-width: 290px;
    width: 100%;
    font-size: 40px;
    font-weight: 400;
    line-height: 60px;
    background: local;
}
.header__team{
    display: flex;
    gap: 24px;
}
.header__item-title{
    display: flex;
}
.header__item-text{
    padding: 12px, 10px, 7px, 10px;
    width: 208px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D5621D1A;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    padding: 5px 5px;
    cursor: pointer;
}
.active{
    background-color: #D5621D0D;
    display: none;
    cursor: pointer;
}
.stop{
    background-color: #D5621D0D;
    display: none;
    cursor: pointer;
}
.color{
    background-color: #D5621D0D;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    border: 1px solid #535353;
}
.header__item-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 39px 35px;
    gap: 26px;
    background-color: #D5621D1A;
}

.header__img{
    background: local;
}
.kitchen{
    margin-top: 120px;
}
.kitchen__text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.kitchen__span {
    color: #210E09;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    font-size: 14px;
    padding: 10px 20px 7px;
    background-color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
}
.kitchen__title{
    margin-top: 40px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    font-size: 40px;
    margin-bottom: 80px;
    text-transform: uppercase;
}
.kitchen__box {
    display: flex;
    gap: 104px;
    justify-content: center;
    align-items: center;
    /* display: none; */
}
.kitchen__launch{
    gap: 104px;
    display: none;
}
.kitchen__launch:nth-of-type(1){
    gap: 104px;
    display: flex;
}
.kitchen__items {
    gap: 25px;
    display: flex;
    gap: 25px;
    align-items: flex-start;
}
.kitchen__eat {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.kitchen__foods-title {
    font-weight: 700;
    line-height: 27px;
    font-size: 18px;
}
.kitchen__foods-span {
    margin-top: 5px;
    color: #D5621D;
    font-weight: 400;
    line-height: 21px;
    font-size: 14px;
}
.kitchen__foods-text {
    max-width: 351px;
    width: 100%;
    font-weight: 400;
    line-height: 21px;
    font-size: 14px;
    margin-top: 10px;
}
.kitchen__items-span {
    padding: 10px 20px 7px 20px;
    border: 2px solid #D5621D;
    border-radius: 5px;
    transition: 0.5s;
}
.kitchen__items-span:hover{
    border: 2px solid #fff;
    background-color: #D5621D;
    transition: 0.5s;
    cursor: pointer;
}
.kitchen__foods-sp{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.kitchen__tab{
    display: flex;
    justify-content: center;
    align-items: center;
}
.kitchen__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    padding: 15px 30px;
    background-color: #D5621D;
    border-radius: 5px;
    margin-top: 96px;
    cursor: pointer;

}
.kitchen__link{
    padding: 15px;
    background-color: #D5621D;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.5s;
}
.kitchen__link:hover{
    border: 2px solid #fff;
}
.baner {
    margin-top: 150px;
}

.baner__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.baner__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    max-width: 416px;
    width: 100%;
}
.baner__span {
    color: #210E09;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    font-size: 14px;
    padding: 10px 20px 7px;
    background-color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
}
.baner__title {
    margin: 45px 0 35px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
}
.baner__text {
font-size: 14.5px;
font-weight: 400;
line-height: 21px;
text-align: center;
max-width: 376px;
    width: 100%;
}
.baner__link {
    margin-top: 35px;
    padding: 15px 30px;
    border: 2px solid #D5621D;
    border-radius: 5px;
}

.rang__time{
        background: #D5621D1A;
}
.rang{
    margin-top: 150px;
}
.rang__box {
    display: flex;
    justify-content: space-around;
    gap: 134px;
}
.rang__left {
    max-width: 526px;
    width: 100%;
}
.rang__items:nth-of-type(1){
    margin-top: 0;
}
.rang__items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 40px;
    background: #D5621D1A;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    margin-top: 20px;
    flex-direction: column;
    position: relative;
    height: 67px;
    overflow: hidden;
    transition: 0.5s;
}
.rang__items.active {
    background: #D5621D;
    height: 170px;
    border-radius: 0 0 5px 5px;
}
.rang__items-title {
font-size: 18px;
font-weight: 700;
line-height: 27px;
background: local;
text-transform: uppercase;
}
.rang__img{
    background: local;
}
/* .rang__text-time.actives{
    height: 130px;
    padding: 20px 40px;
    background: #D5621D;
    border-radius: 0 0 5px 5px;
} */
.rang__text-time{
    background: local;
    transition: 0.5s;
    margin-top: 20px;    
}
.rang__map{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: local;
}
.rang__title{
font-size: 38px;
font-weight: 400;
line-height: 48px;
text-align: center;
max-width: 415px;
width: 100%;
}
.rang__right-box {
    display: flex;
    justify-content: space-between;
    align-items: center ;
    gap: 24px;
}
.rang__right-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction:column;
}
.rang__right-team{
    display: flex;
    justify-content: space-between  ;
    gap: 25px;
}
.rang__right-img {
    margin: 50px 0 30px;
    cursor: pointer;
}
.rang__right-text {
    text-align: center;
    margin-bottom: 25px;
    font-weight: 700;
    line-height: 21px;
    font-size: 18px;
    max-width: 156px;
    width: 100%;
}
.rang__right-tg {
    border: 2px solid #D5621D;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}
.rang__right-tg:hover{
    background: #D5621D;
    border: 2px solid #fff;
}
.contact{
    margin-top: 150px;
}
.contact__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.contact__left {
    border: 2px solid #D5621D;
    padding: 35px 50px 33px;
    background: #D5621D1A;
    border-radius: 2px;
}
.contact__item {
    background: local;
}
.contact__page {
    display: flex;
    background: local;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    
}

.contact__title {
    margin-top: 33px;
    background: local;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    text-transform: uppercase;
}
.contact__text {
    background: local;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-top: 20px;
}
.contact__line{
    border: 1px solid #fff;
    width: 100%;
    opacity: 50%;
    margin: 45px 0 10px;
}
.footer {
    margin-top: 100px;
}
.footer__line {
    border: 1px solid #fff;
    opacity: 50%;
    margin-bottom: 30px;
}
.footer__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__copy {
    font-weight: 400;
    line-height: 21px;
    font-size: 14px;
    opacity: 50%;
    margin-bottom: 30px;
}
